input[type=number]::-webkit-inner-spin-button {
   -webkit-appearance: none;
}

input[type=number] { 
    -moz-appearance: textfield;
    appearance: textfield;
 
 }

 input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }


    h5 {
        color: black;
        font-size: 1.3em;
        font-variant: all-small-caps;
        font-weight: bolder;
        background-color: wheat;
        padding: 14px;
        border-radius: 20px;
        text-align: center;
    }